<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C://Users//Rajeshwari.Prem//GamingCashless_CPI">
        <parameter name="platformName" value="Android"></parameter>
        <classes>
            <class name="LoginPage_Tests">
            </class>
        </classes>
    </test>
</suite>